/* Мобильные устройства (меньше 576px) */
@media (max-width: 575.98px) {
    table {
        font-size: 12px;
        width: 50%;
        background-color: lightsteelblue;
        opacity: 0.9;
        border-radius: inherit;
    }
    th, td {
        padding: 0.25rem;
    }
}

/* Планшеты (от 576px до 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    table {
        font-size: 14px;
        width: 75%;
        background-color: lightsteelblue;
        opacity: 0.9;
    }
    th, td {
        padding: 0.5rem;
    }
}

/* Ноутбуки и настольные компьютеры (от 768px до 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    table {
        font-size: 16px;
        width: 100%;
        background-color: lightsteelblue;
        opacity: 0.9;
    }
    th, td {
        padding: 0.75rem;
    }
}

/* Большие настольные компьютеры (от 992px до 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    table {
        font-size: 18px;
        width: 100%;
        background-color: lightsteelblue;
        opacity: 0.9;
    }
    th, td {
        padding: 1rem;
    }
}

/* Очень большие настольные компьютеры (больше 1200px) */
@media (min-width: 1200px) {
    table {
        font-size: 20px;
        width: 100%;
        background-color: lightsteelblue;
        opacity: 0.9;
        border-radius: 20px;
        border: white;
        border: none !important;
    }

    th, td {
        padding: 1.25rem;
    }
}