#upload-btn {
    background-image: url("../images/upload/upload-nonclick.png"); /* Общая картинка кнопки */
}

#upload-btn:hover {
    background-image: url("../images/upload/upload-point.png"); /* Картинка при наведении курсора */
}

#upload-btn:active {
    background-image: url("../images/upload/upload-push.png"); /* Картинка при нажатии на кнопку */
}